.btn-left{
	width: 120px!important;
	text-align: center!important;
}
	.response{
	width:100%;
    background:#ffffff;
    border:1px solid #F5F5F5;
    padding: 10px 10px;
    border-radius:4px;
    box-shadow:0 0 3px rgba(34, 25, 25, 0.3);
    height:auto;
    min-height:120px;
    display:inline-block;
    font:bold 14px/54px \5fae\8f6f\96c5\9ed1;
    min-width: 800px;
	}
	
	.response-info{
		width: 100%
	}
	.media-left.response-text-left{
		width:160px;
		height: 99px;
		margin-left: 10px;
	}
	.media-left.response-text-left-title{
		width:	100%;
		font-size: 14px;
	}
	.response-text h5{
		font-size: 20px;
		font-weight: 600;
		margin: 0 0 1em 2em;
		color:#fff;
	}
	.response-text-left h5 a{
		font-family:'Niconne',cursive;
		text-decoration: none;
		font-size:13px;
		color:#04a9ff;	
	}
	.response-text-left h5{
		font-weight: 400;
		font-size: 14px;
	}
	.response-text-right p{
		color:#adadad;
		font-size: 11px;
		margin: 0 0 1em;
	    width: 620px;
	    word-wrap: break-word;
	    line-height: initial;
	}
	.response-text-right ul{
		padding: 0;
		text-align: left;
	}
	.response-text-right ul li{
		color: #727272;
		font-size: 13px;
		margin-right: 1em;
		display:block;
		height:32px;
		line-height:32px;
	}
	.response-text-right ul li a{
		color: #7b6d44;
		font-size: 12px;
		font-weight: 400;
	}
	.response-text-right ul li a:hover{
		color: #a6192e;
		text-decoration: none;
	}
	.col-sm-7 select{
		width: 100%;
		height: 34px;
		border-radius:3px;
		clip: gray;
	}
	
	
	.video-container button{
		height: 22px;
		font-size: 10px;
		padding: 5px 10px;
		line-height: 1;
		border-radius:3px;
	}
	.media-body button{
		margin-left:5px;
		line-height: 1;
		float: right;
	}
	
	.course_add_chapter,.course_update_chapter{
	border:2px solid #C2C2C2;
	height:31px;line-height:27px;
	font-size:14px;
	font-weight:bold;
	color:#A3C2E0;
	padding:0px 20px;
	margin-top:10px;
	position: relative;
	color:#4D73A0;
	background:url('../images/section_arrow_base.png') no-repeat 6px center;
	}
	
	.course_add_chapter,.course_update_chapter a{ 
	color:#1a6aa7;
	}

	.course_add_chapter a{
	color:#1a6aa7
	}
	
	.form-group h4 {
	position:relative;
	font-size:12px;
	border:1px solid #ccc;
	height:35px;
	line-height:35px;
	margin: 0
	}
	
	.form-group .coursechapter_chapter{
	padding-left:5px;
	float:left;
	display:block;
	font-weight: bold;
	padding-right:10px;
	}
	
	.chapter_input{
		margin-right: 8px;
	}
	
	.chapter_input input{
	margin-top:-4px;
	width:580px!important;
	box-shadow:none;
	border-color:#ccc;
	font-size:12px;
	color:#333;
	border:1px solid #dedede;
	background:none;
	height:20px;
	line-height:20px;
	font-size:14px;
	width:100%;
	padding-left:4px;
	color:#999;
	}
	
	.form-group h4 button{
		width:42px;
		height: 22px;
		font-size: 10px;
		line-height: 1;
		margin-bottom: 6px
		
	}
	
	.form-group h4 .confirm{
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
	}
	
	.form-group .select_video{
		border:1px solid #ccc;
		margin: 0
	}
	
	.form-group .select_box{
		width:370px;
		height:180px;
		padding-top:50px;
		margin-left:auto;
		margin-right:auto;
	}
	
	 .form-group .select_box .video{
	 background:url(../images/video_base.jpg) no-repeat;
	 display:block;
	 width:70px;
	 height:66px;
	 margin-left:159px;
	 float:left;
	 }
